/*I love me some border-box*/
* {
    box-sizing: border-box;
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #fffff;
}

img.logo{
  max-width: 395px;
  padding-top: 5px;
  padding-left: 40px;
  margin-bottom: -15px;
  padding-right: 40px;
}

img.gif{
  max-width: 300px;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:10px;
  float: left;
}

img.png{
  max-width: 700px;
  margin-left:10px;
  margin-bottom:10px;
  margin-top:10px;
  float: right;
}

img.other{
  max-width: 350px;
  margin-bottom:10px;
  margin-top:10px;
  float: center;
}




/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.Top {
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    padding-top: 0px;
    padding-left: 40px;
    padding:40px;
    display: flex;
    align-items: top;
    justify-content: center;
    background-color: white;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 280px;
}

/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -50px;
    margin-left:40px;
    margin-right: 40px;
    padding-top: 70px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}


/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/

/*-- slogan */
h1{
  color:#993399;
  font-size:15px;
  font-family: Open Sans;
  font-style: italic;
  text-align: center;
}
/*-- titres */
h2{
  color:#660066;
  font-size:25px;
  font-family: Open Sans;
  font-weight: bolder;
  line-height: 80%;
}

/*-- descriptifs */
h3{
    color:#993399;
    font-size:16px;
    font-family: Open Sans;
}
h4{
  color:#660066;
    font-size:12px;
    font-family: Open Sans;
}

/*-- texte courant */
p1{
    color:black;
    font-size:16px;
    font-family: pt serif;
}
/*-- citations */
p2{
  color:#737373;
  font-size:16px;
  font-family:pt serif;
  font-style: italic;
}
/*-- sous-titres */
p3{
  color:#993399;
    font-size:18px;
    font-family: pt serif;
    
}
/*-- italique */
p4{
    color:black;
    font-size:16px;
    font-family: pt serif ;
    font-style:italic;
}




            /* unvisited link */
            a:link {
                color:black;
                text-decoration: none;
                background-color:#f2d9e6;
            }

            /* visited link */
            a:visited {
                color:#000000;
                text-decoration:line-through;
            }

            /* mouse over link */
            a:hover {
                color: white;
                text-decoration: none;
                background-color:black;
            }


/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    width: 30rem;
    background-color: white;
}

.Middle {
    width: 30rem;
    background-color: white;
    
}

.Right {
    width: 30rem;
    background-color: white;
   
}

.Left,
.Middle,
.Right {
    overflow: auto;
    height: 500px;
    padding: .5rem;
    margin-right: 50px;
    margin-top: 25px
    margin-bottom:0px
    margin-left:25px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Top::-webkit-scrollbar,
.Left::-webkit-scrollbar,
.Middle::-webkit-scrollbar,
.Right::-webkit-scrollbar {
      width: 15px;
      height: 10px;
    }
    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: #000000;
      border: 0px none #ffffff;
      border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #000000;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #000000;
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border: 0px none #ffffff;
      border-radius: 0px;
    }
    ::-webkit-scrollbar-track:hover {
      background: #ffffff;
    }
    ::-webkit-scrollbar-track:active {
      background: #ffffff;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }

}

footer{
  padding:-100px;
  margin: -150px;
}

footer h2{
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 50px;
    -webkit-margin-end: 50px;

}

footer p1{
  display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 5em;
    -webkit-margin-start: 50px;
    -webkit-margin-end: 50px;
}

footer p5{
    -webkit-margin-start: 30px;


}

footer ul{
  text-align:center;
  color:black;
  font-family: pt serif;
  font-size:13px;
}

footer ul li{
  display:inline-block;
  margin:0 5px;
}
